*{font-family: 'Jua', sans-serif;}


/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    -ms-overflow-style: none;
}
    
::-webkit-scrollbar {
     display: none;
}
   
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom*/
button {
    border :none;
    background-color:transparent;
}
button :focus{
    border :none;
    outline: none;
}
button.answerBtn:focus{ 	
    border: none;
    outline:none;
}

.intro_content{
    display: block;text-align: center; width: 100%; margin-bottom:3%;
} 
.intro_content_img{
    display: block;text-align: center; width: 100%; margin-bottom:3%;
}
#intro_titleSrc{
    margin-top:0%;
    margin-bottom:10%;
}
#test01{
    margin-bottom:10%;
    width:80%;
    height:80%;
}
#test02{
    width:80%;
    height:80%;
}
#header_img{
    margin-top:3%;
}
.question_content_img{
    display: block;text-align: center; width: 100%; margin-bottom:8%;
} 
.tutorial_content_img{
    display: block;text-align: center; width: 100%; margin-bottom:8%;
} 
button.answerBtn{ 	
    border:none;
    background-color:transparent;
    margin-bottom:1%;
}
button.t_answerBtn{ 	
    border:none;
    background-color:transparent;
    margin-bottom:1%;
}
button.t_answerBtn img{ 	
    width : 100%;
    height : 100%;
}
#backBtn{
    border:none;
    background-color:transparent;
    margin-bottom:1%;
    width : 30px;
    height : 30px;
}
#back_img{
    width : 100%;
    height : 100%;
}
#dummy{
    width:15%;
}
#result_content img{
    display: block;text-align: center; width: 100%; margin-bottom:3%;
}


#sub{
    display: block;
    text-align: center; 
    width: 80%; 
    height: 10%;
    margin-left:17%;
    margin-right:15%;
    margin-top:10%;
    margin-bottom:5%;
} 
#sub #sub_title{
    display: block;
    width:80%; 
} 

#shareTitle{
    width:20%;
    margin: auto;
    margin-top:10%;
    margin-bottom:3%;
}
#shareTitleSrc{
    width:100%;
    height:100%;
}
#share {
    width:100%;
    height:100%;
}

.item{
    width:16.6666667%;
}

/*
    국민참여재판 튜토리얼 모달 
*/
.modal_img{
    text-align: center; width: 100%; margin-bottom:3%;
}
.modal_wrap{
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50% 0 0 -50%;
    z-index: 100;
}

.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
    z-index: 100;
}
#tutorial_result_content img{
    display: block;text-align: center; width: 100%; margin-bottom:3%;
}
.tutorial_content_imgABtn{
    display: block; text-align: center; width: 100%; margin-bottom:2.3%;
} 

button.t_answerBtn{ 	
    border:none;
    background-color:transparent;
    margin-bottom:1%;
}
button.t_answerBtn img{ 	
    width : 100%;
    height : 100%;
}

button.t_answerBBtn{
    border:none;
    background-color:transparent;
    margin-bottom:4%;
}
button.t_answerBBtn img{ 	
    width : 100%;
    height : 100%;
}
#t3_correct{
    width:10%;
    height:5%;
}
#t4_correct{
    width:10%;
    height:5%;
}