@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{font-family: 'Jua', sans-serif;}

button.answerBtn{ 	
    border:none;
    margin-bottom:0.5rem;
    background-color:transparent;
}
button.answerBtn:focus{ 	
    border: none;
    outline:none;
}
.result_relatedResult{
    display: block;text-align: center; width: 100%; margin-bottom:0.7rem;
}